body {
    background-color: burlywood;
    position: relative;
}
form {
    width: 40%;
    background-color: darkkhaki;
    border-radius: 10%;
    left: 25%;
    position: absolute;
    padding-left: 10px;
}
h1 {
    font-size: 25px;
    text-align: center;
    color: rgb(83, 54, 54);
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: -1% 0% 5% -1%;
    padding: 20px;
}
th, td {border: 1px solid black;
    padding: 5px;
}
th:hover, td:hover {
    background: radial-gradient(#FF0000, #05c1ff);
}
img {
    width: 150px;
    height: 200px;
    float: left;
    padding: 0% 5%;
    transition: all 1s ease;
}
img:hover {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(360deg);
    transform: rotateZ(360deg);
}
ul {
    list-style-type: none;
    padding-left: 3px;
}
ul li:before {
content: "- ";
}
a, button, select, [type="checkbox"], [type="radio"] {
    cursor: pointer;
}
.beauty-bold-font-style {
    font-weight: bolder;
    color:#024157;
    letter-spacing: 1px;
}
.main-info {
    font-size: 18px;
    padding: 10%;
    margin-right: 2%;
}
.criterias input, .english-level input {
    margin-top: 10px;
}
.skills p {
    margin-bottom: -10px;
}
.social {
    width: 45%;
}
.send-form {
    width: 200px;
    height: 70px;
    font: bold 150% serif;
    border-radius: 10px;  
    color: rgb(180, 75, 75);
    background: linear-gradient(40deg, #00A8C5, #FFFF7E);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 5%;
}
.send-form:hover {   
    border: none;
    outline: none;
    color: #fff;
    background: linear-gradient(45deg, #009245, #FCEE21);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}
[type="date"]:hover {
    cursor: default;
    background: radial-gradient(#13dee6, rgb(250, 242, 139));
}
a:hover {
    color: rgb(135, 180, 129); 
}
a:active {
    color: lightcoral;
}