.grid-container {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: 5% 20%;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-rows: 70px 1fr;
}
.header {
    width: 100%;
    height: 70px;
    background-color: lightgrey;
    border-bottom: 1px solid black;
    padding-left: 1%;
    box-sizing: border-box;
    grid-area: header;
    display: grid;    
    align-content: center;
}
.header_topic {
    width: 100%;
    font: large bolder;
}
.header_close-button {
    font-weight: bold;
    background-color: lightgrey;
    border: none; 
    margin: 0% 0% 0% 63%;           
}
.header_close-button:hover {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;    
}
.header_created {
    font-size: small;
}
.main {
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 150px 1fr;
    align-content: space-between;
    overflow: auto;
}
.aside {
    background-color: lightslategrey;
    border-right: 1px solid black;
    padding: 2% 5%;
    grid-area: aside;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    justify-content: center;    
}
.aside_icon {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;  
    justify-self: end;
}
.aside_icon_date {
    font-size: x-small;
}
.content {
    grid-area: content;
}
.message {
    width: 85%;
    padding: 2% 5%;
}
.message-text {
    font-size: large;
    background-color: rgb(192, 204, 216);
    border: 1px solid black;    
    padding: 2%;
}
.grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}