.wrapper {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: 5% 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 70px;
    background-color: lightgrey;
    padding-left: 1%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: none;
}
.header_topic {
    width: 100%;
    font: large bolder;
}
.header_close-button {
    font-weight: bold;
    background-color: lightgrey;
    margin: 0% 0% 0% 63%;
    border: none;        
}
.header_close-button:hover {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;    
}
.header_created {
    font-size: small;
}
.main {
    width: 100%;  
    height: 100%; 
    display: flex;   
    flex-flow: column; 
    overflow: auto; 
}
.aside {
    width: 149px;
    border-right: 1px solid black;
    background-color: lightslategrey;
    flex: none;
}
.aside_icon {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;    
}
.aside_icon_date {
    font-size: x-small;
    margin-left: 5%;
}
.message {
    width: 80%;
    padding: 5%;
}
.message-text {
    font-size: large;
    background-color: rgb(192, 204, 216);
    border: 1px solid black;    
    padding: 2%;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
}